/*Laptop*/
@media (max-width: 1200px) and (min-width: 992px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 17px;
  }
  /*Container*/
  .container {
    padding: 0 20px;
    width: 970px;
  }
  .row {
    margin: -20px;
  }
  .col {
    width: 50%;
    padding: 15px 20px;
  }
  /*Header*/
  header {
    height: 55px;
  }
  header .container {
    height: 55px;
  }
  header .container .logo-head {
    position: absolute;
    margin-top: 15px;
    width: 93px;
  }
  header .container nav {
    margin-top: 15px;
  }
  header .container nav .text-head {
    margin-left: 33px;
    font-size: 18px;
  }
  /*Section 2*/
  .section-two .container h1 {
    font-size: 100px;
    margin: 0 0 0 472px;
  }
  .section-two .container h3 {
    margin: 3px 0 0 480px;
  }
  /*Section 3*/
  .section-three .work-img {
    right: -4.2vw;
  }
  .section-three .work-img img {
    height: 50%;
  }
  .section-three .container {
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .section-three .container h1 {
    margin-bottom: 8px;
    font-size: 34px;
  }
  .section-three .container h3 {
    font-weight: 300;
  }
  /*Section 4*/
  .section-four .blank {
    top: 26px;
    left: -6vw;
    height: 91vh;
  }
  .section-four .container {
    height: 95vh;
  }
  .section-four .container h1 {
    margin: 0 0 0 478px;
  }
  .section-four .container h3 {
    margin: 3px 0 0 480px;
  }
  .section-four .container .try {
    margin: 20px 0 0 480px;
    font-size: 16px;
  }
  /*Section 5*/
  .section-five {
    display: none;
  }
  /*Section 6*/
  .section-six .courses {
    position: absolute;
    right: 0px;
    top: 2vh;
    height: 93vh;
    margin: 5px 0 5px 0;
  }
}
@media (min-width: 1440px) {
  h1 {
    font-size: 45px;
  }
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 20px;
  }
  .txt h3 {
    font-size: 20px;
  }
}